body {
    background-color: #F1E9DC;
    font: #1F1C1B
}
a{
    text-decoration: none;
    color: #1F1C1B;
    }
h1 {
    font-size: 4rem;
}
h2{ 
    font-size: 4rem;
}
#topSection {
    font-family: 'Abhaya Libre', serif;
    height: 95vh;
}

#ELLIERINK {
    font-size: 8rem;
}
#MYPATH  {
    font-size: 2.2rem;
}

#section-about .row {
    height: 33rem;
}
#column-1 {
    background-color: #F1C786;
    font-family: 'Abhaya Libre', serif;
}
#column-2 {
    padding: 0;
    background-color: blue;
}
#column-3 {
    font-size: 1rem;
    font-family: 'Abhaya Libre', serif;
    background-color: #F1C786;
    z-index: 3;
}

#AboutText {
    text-align: center;
    margin-top: 18rem;

}
  
.portrait {
    max-width: 100%;
}
  
#projectSection {
    font-family: 'Abhaya Libre', serif;
    margin-top: 10rem;
    background-color: #906f66;
}

#col-1 {
    font-family: 'Abhaya Libre', serif;
    align-items: center;
}
#col-2 {
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    margin-top: 5rem;
}

#project1 {
    background-color: #D88D79;
    border-radius: 0%;
    border-color: #D88D79;
    margin-top: -3rem;
}
#project2 {
    background-color: #E5B1A3;
    border-radius: 0%;
    border-color: #E5B1A3 ;
}

#project3 {
    background-color: #E7CFC9;
    border-radius: 0%;
    border-color: #E7CFC9;
}

#resumeSection {
    margin-top: 10rem;
    background-color: #E8AF7B;
    font-family: 'Abhaya Libre', serif;
}

#resumecenter {
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
    vertical-align: middle;
}

#whatsnextSection {
    background-color: #9DA587;
    font-family: 'Abhaya Libre', serif;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#orderedList {
    background-color: #EBE6B7;
    margin-top: -3rem;
    margin-bottom: -3rem;
    margin-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
